extends layout

block content


  h1= title
  p Welcome to #{title}
  p
    table
      tr
        td(style={'vertical-align': 'top'})
          table
            each video_file in video_files
              tr
                td
                  button(onclick=`confirmDelete("${video_file.name}")`) X
                td
                  a(href="/videos?video_file=" + video_file.name)
                    =video_file.name
                td
                  =video_file.time
        td(style={'vertical-align': 'top'})
          video(id="my-video" class="video-js" controls preload="auto" width="640" height="360" data-setup="{}")
              source(id="my-video-src" src="" type="video/mp4")/
              p(class="vjs-no-js").
                To view this video please enable JavaScript, and consider upgrading to a
                web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
          p TimeStamp:
            span(id="demo")

  script(src="https://vjs.zencdn.net/7.10.2/video.min.js").
  script(src="//cdn.sc.gl/videojs-hotkeys/0.2/videojs.hotkeys.min.js").
  script(src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js").

  script.
    function confirmDelete(fileName) {
      if (confirm(`Are you sure you want to delete ${fileName}!`)) {
        axios.get(`/videos/delete?video_file=${fileName}`)
          .then(response => {
            alert("Delete Successful");
            location.reload();
          })
          .catch(error => {
            alert("Delete Fail");
          })
      } else {
        alert("You pressed Cancel!");
      }
    }

    function getParameterByName(name, url = window.location.href) {
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    function setCookie(name,value,days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days*24*60*60*1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "")  + expires + "; path=/";
    }
    function getCookie(name) {
        var nameEQ = name + "=";
        var ca = document.cookie.split(';');
        for(var i=0;i < ca.length;i++) {
            var c = ca[i];
            while (c.charAt(0)==' ') c = c.substring(1,c.length);
            if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
        }
        return null;
    }
    function eraseCookie(name) {
        document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }

    let video_src = getParameterByName("video_file");

    document.getElementById("my-video-src").setAttribute("src",`/videos/${video_src}`);

    var aud = videojs('my-video');

    aud.ready(function() {
      let played_till = getCookie(video_src);
      if (played_till) {
          this.currentTime(played_till);
      }
      this.hotkeys({
        volumeStep: 0.1,
        seekStep: 15,
        enableModifiersForNumbers: false
      });
      this.on('timeupdate', function () {
        document.getElementById("demo").innerHTML = this.currentTime();
        setCookie(video_src, this.currentTime(), 365);
      })
    });

